<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Whoops! The website shat itself. This does not mean I don't know what I am doing!</h2>
    </hgroup>
</body>
</html>
