@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <title>flossflew</title>
    <meta name="description" content="Alex McLachlan Portfolio" />
   

</head>
<div>
    <h1 class="header-main"> Welcome to FlossFlew</h1>
    <svg height="10px" width="100%">
        <rect width="100%" height="5px" style="fill: #020a36; stroke-width:10 " />
    </svg>
    <div class="col-md-9">
        <h2>
        This is where the content will be stored for the front page describing myself.

        </h2>

    </div>
    <div class="col-md-3">
        <div class="row">
            <p class="p"> This is where links will be neatly stored, testing the word wrap thing</p>
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
            </ul>
            
        </div>
        <div class="row">
            <ul>
                <li>@Html.ActionLink("About", "About", "Home")</li>
            </ul>
            
        </div>
        <div class="row">
            
            <ul>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            
        </div>
        <div class="row">
      
            <ul>
                <li>@Html.ActionLink("Test", "Test", "Home")</li>
            </ul>
            
        </div>

        
        
        
        
    </div>




</div>
    


