@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <title>flossflew</title>
    <meta name="description" content="Alex McLachlan Portfolio" />
</head>
 <div class="main-container">
     <div class="main-container-inner">
         <div class="svgTop">
             <svg width="300" height="300" data-name="corner-bottom-left" style="z-index:2;">
                 <path d="M10 0 v50 0 h0 50" fill="none" stroke="white" stroke-width="5px" />
             </svg>
         </div>
         <div class="inner-container">
             <h1 style="color:antiquewhite; justify-content:center;">Alexandra McLachlan Portfolio</h1>
             <p style="color: antiquewhite">
                 This is where I am going to build some sort of portfolio to show what I can do to employers - currently it is in build stage.
             </p>

         </div>
     </div>    
 </div>
    


