@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <title>flossflew</title>
    <meta name="description" content="Alex McLachlan Portfolio" />
   

</head>
 <div>       
                <h1 class="text-primary"> TESTING THIS BACKGROUND</h1>

               
               <svg height="300px" width="300x">


               </svg>
 </div>
    


