@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <title>flossflew</title>
    <meta name="description" content="Alex McLachlan Portfolio" />
</head>
 <div class="main-container">
     <div class="main-container-inner">
         
         <div class="inner-inner">
            
             <h1 style="color:antiquewhite; justify-content:center;">Alexandra McLachlan Portfolio</h1>
             <p style="color: antiquewhite">
                 This is where I am going to build some sort of portfolio to show what I can do to employers - currently it is in build stage.
             </p>
         </div>


     </div>    
 </div>
    


