@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <title>flossflew</title>
    <meta name="description" content="Alex McLachlan Portfolio" />
   

</head>
<div>
  
        <h2>
        This is where the content will be stored for the front page describing myself.

        </h2>

</div>
    


